*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --light-gray: #d8d8d8;
  --dark-gray: #4a4a4a;
  --gray: #9b9b9b;
  --white: #f3f5f5;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 400;
  /* outline: #ec1212 solid; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  height: 64px;
  .logo-holder {
    display: flex;
    align-items: center;
    margin-left: 24px;
    height: 32px;
    .logo-text-f {
      font-weight: 800;
      color: var(--dark-gray);
    }
    .logo-text-b {
      color: var(--gray);
    }
  }
  ul {
    margin-right: 24px;
    li {
      display: inline;
      margin-left: 16px;
    }
  }
}
.hero {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  img {
    /* outline: #ec0a0a solid; */
    margin: 32px 24px 32px 24px;
  }
  article {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 30%;
    h2 {
      font-weight:bolder;
      font-size: 3rem;
      /* margin: 16px; */
    }
    p{
        margin: 24px 0px;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .button{
        background-color: var(--dark-gray);
        color: var(--white);
        padding: 8px 0px;
        /* display: flex;
        justify-content: center; */
    }
  }
}
.hero-first {
  h2 {
    color: var(--dark-gray);
    font-size: 2.5rem;
  }
}
